@model  IEnumerable<InternetApplication.Models.project>
@{
    ViewBag.Title = "Assigned";
}


<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Project Manager
                </a>
             </li>
            <li>
                <a href="@Url.Action("Home","Project")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("CustomerProfile","User")">My Profile</a>
            </li>
            <li>
                <a href="@Url.Action("Logout","User")">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home.html">Project Manager</a>
                    </div>


                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="container">

            <div class="row" style="margin-top:10px">
                <div class="col-md-10">
                    <h4>All Projects</h4>
                </div>
            </div>

            <div class="col-md-12">
                @foreach (var project in Model)
            {
                    <div class="post-box">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>@project.subj</h2>
                            </div>
                           
                        </div>
                        <div class=row>
                            <div class="col-md-12 postbody">
                                
                                <form method="post" action="@Url.Action("Assigned","Project", new { p = project.id})">
                                    <button name="action" value="accept" class="btn btn-success btn-add" type="submit">
                                        <span class="glyphicon glyphicon-ok"> Accept
                                    </button>

                                    <button name="action" value="reject" class="btn btn-danger btn-add" type="submit">
                                        <span class="glyphicon glyphicon-remove"> Reject
                                    </button>

                            </div>
                        </div>
                    </div>
                }
         
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
        </div>




        >